.App {
  width: 70%;
}
.input {
  width: 98%;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.nav {
  background: #4696e5;
  height: 300px;
  color: white;
  text-align: end;
}
.add {
  font-size: 15px;
}
.btn-add {
  background: transparent;
  border: solid;
  color: white;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 20px;
}
.items {
  display: flex;
  justify-content: space-around;
  
}
.btn-complete {
  background: transparent;
  color: black;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 20px;
}
.btn-delete {
  background: transparent;
  color: black;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 20px;
}
.completed{
  text-decoration: line-through
}
